.orders {
  display: flex;
  flex-direction: column;
}

.orders > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.orders > div > * {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  font-weight: 600;
  background-color: #00ffff;
}

.head p {
  color: #111;
}

.product a {
  display: flex;
  justify-content: space-around;
  padding: 0 8px;
  gap: 5px;
}

.product a:hover {
  color: #00ffff;
}

.orders a {
  text-align: center;
}

.customer {
  flex-direction: column;
  font-weight: 600;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .orders > div > * {
    border-color: #555;
  }
}
