.djeich {
  padding: 1rem;
}

.djeich h1 {
  margin-bottom: 1rem;
}

.djeich a:not(.achr) {
  display: block;
  font-size: 2rem;
  width: fit-content;
}

.djeich p {
  margin-top: 2rem;
  font-size: 1.3em;
}

.achr {
  color: #8e44ad;
}
