.form {
  direction: rtl;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form select {
  width: 100%;
  display: block;
  padding: 8px 1rem;
  font-size: 1.1em;
  outline: none;
  border: 1.5px solid #555;
  font-family: inherit;
}

.form button {
  background-color: aqua;
  color: #111;
  font-size: 1.1em;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 8px 0;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.form button:hover {
  background-color: rgb(0, 212, 212);
}

.error {
  border: 2px solid rgb(255, 0, 0, 0.5);
  padding: 4px 10px;
  margin-top: 10px;
  font-weight: 600;
  background-color: rgb(255, 0, 0, 0.2);
  border-radius: 6px;
  display: inline-block;
  color: rgb(126 26 26);
}

@media (prefers-color-scheme: dark) {
  .error {
    color: rgb(255 177 177);
  }
}
