.form {
  background-color: #fff;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
}

.formGroup label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #666;
}

.formGroup input:not([type="checkbox"]),
.formGroup textarea {
  display: block;
  outline: none;
  padding: 1rem;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-top: 7px;
  color: #000;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
}

.formGroup input:not([type="checkbox"]):hover,
.formGroup textarea:hover {
  border-color: #bbbbbb;
}
.formGroup input:not([type="checkbox"]):focus,
.formGroup textarea:focus {
  border-color: #00ffffa8;
}

.formGroup textarea {
  font-family: inherit;
  resize: vertical;
  max-height: 220px;
  min-height: 120px;
}

.formGroup input[type="number"] {
  width: 180px;
}

.formGroup input[type="checkbox"] {
  margin-right: 13px;
  -webkit-cursor: pointer;
  -moz-cursor: pointer;
  cursor: pointer;
  transform: scale(1.5);
}

.submit {
  padding: 1rem 2rem;
  background: #00ffffa8;
  color: #000;
  font-family: inherit;
  width: fit-content;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1em;
  border: none;
  transition: background 0.2s ease-in-out;
}

.submit:hover {
  background: aqua;
}

.uploadedImages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.uploadButton {
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.uploadButton label {
  color: #fff;
}

.error {
  background-color: hsl(0deg 100% 50% / 16%);
  border: 1px solid hsl(0deg 100% 50% / 33%);
  color: #8d0000;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.9em;
}

.formGroup .error {
  margin-top: 10px;
}

.categories {
  display: flex;
  gap: 8px;
  margin-top: -8px;
}

.categories li {
  cursor: pointer;
  padding: 4px 8px;
  border: 2px solid rgba(128, 128, 128, 0.6);
  border-radius: 8px;
}

.selectedCategory {
  color: #00ffff;
  border-color: #00ffff !important;
}

@media (prefers-color-scheme: dark) {
  .form {
    background-color: #222;
    border: 2px solid #333;
  }

  .formGroup input:not([type="checkbox"]),
  .formGroup textarea {
    border-color: #444;
    color: #fff;
  }

  .formGroup input:not([type="checkbox"]):hover,
  .formGroup textarea:hover {
    border-color: #666;
  }

  .formGroup label {
    color: #cacaca;
  }

  .error {
    color: rgb(255 100 100);
  }
}
