* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #fff;
    background-color: #111;
  }
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
}

.main > .content {
  border-radius: 1rem;
  min-height: calc(100vh - 2rem);
  padding: 1rem 5rem;
  position: absolute;
  left: 295px;
  width: calc(100% - calc(295px - -1rem));
  max-width: 1440px;
  margin: auto;
}

.page-title {
  padding: 2rem 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #fff;
    background-color: #111;
  }
}
