.breaking {
  background-color: aqua;
  color: #000;
  text-align: center;
  padding: 7px 0;
  direction: rtl;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}

.searchForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.searchForm input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #555;
  outline: none;
  font-size: 16px !important;
  font-family: inherit;
  display: none;
  position: absolute;
  bottom: -41px;
  right: 0;
  width: 250px;
  z-index: 1;
  direction: rtl;
  font-size: 14px;
}

.searchForm form input:focus {
  border-color: #00ffff;
  outline: none;
}

.searchForm form button {
  background: #f7f7f7;
  border: 1px solid transparent;
  padding: 3px 5px;
  outline: none;
  cursor: pointer;
}

.searchForm form button img {
  width: 30px;
  height: 30px;
}

.searchForm form button:focus,
.searchForm form button:active {
  border-color: #666;
}

.nav ul {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  gap: 8px;
  padding: 8px;
}

.nav li a {
  padding: 6px 3px;
  font-size: 16px;
}

.carousel > div {
  overflow: hidden;
}

.carousel > div > div {
  display: flex;
}

.carousel > div > div > div {
  flex: 0 0 100%;
  min-width: 0;
}

@media (prefers-color-scheme: dark) {
  .searchForm form input {
    background-color: #111;
  }
  .searchForm form button {
    background-color: #3b3b3b;
  }
  .searchForm form button img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(301deg)
      brightness(113%) contrast(94%);
  }
}
